/* button {
  width: 150px; 
  height: 50px; 
  background-color: black; 
  font-size: 19px; 
  font-weight: bold; 
  border-radius: 25px;
  color: white;
}

input {
  width: 300px; 
  height: 50px; 
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  color: rgb(7, 135, 7);
  margin-bottom: 10px;
}

input::placeholder {
  color: rgb(22, 8, 178);
  font-weight: bold;
} */
